/* =============== Font =============== */
/* https://fonts.google.com/selection/embed */

.font1 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.font2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* =============== Body size =============== */
body {
  margin: 0% 8% 0% 8%;
}

/* =============== Nav/Header section =============== */
.nav-container {
  display: flex;
  justify-content: space-between;
  color: #0e0a0a;
  padding: 10px 20px 
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 20px;
  gap: 20px;
}

a {
  color: inherit;
  text-decoration: none; 
}

.conteneur-flexible{
    display: flex;
    height: 250px;
}

.element-flexible{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #0DA;
    padding: 10px 0px;
    text-align: left;
}

.welcome-point {
  color: orange;
  font-size: 1.5em; /* plus gros que le texte */
  font-weight: bold; /* optionnel */
}

.horizontal-line {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: orange;
  vertical-align: middle;
  margin-right: 8px;
}

.nav-btn-1 {
  display: inline-block;
  padding: 12px 24px;
  background-color: orange;
  border: 2px solid orange ;
  color: white;
  text-decoration: none;
  transition: background-color 0.7s ease;
}

.nav-btn-1:hover {
  background-color: transparent;
  border: 2px solid orange ;
  color: orange;
}

.nav-btn-2 {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid orange ;
  color: orange;
  text-decoration: none;
  transition: background-color 0.7s ease;
}


.nav-btn-2:hover {
  background-color: orange;
  color: white;
}

/* =============== Skill section =============== */
.skill {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 20px;
  background-color: #1c1c1c;
  color: #464646;
}

/* =============== About section =============== */
.vertical-line {
  display: inline-block;
  width: 2px;
  height: 40px;
  background: orange;
  vertical-align: middle;
  margin-right: 8px;
}

.space-vertical-ligne {
  margin-left: 2px;
  margin-top: 6px;
}

.about-figures {
  color: orange;
  font-size: 1.2em;
  font-weight: bold;
}
